---
layout: archive
permalink: /projects/
title: "Projects"
author_profile: true
pagination: true
---
 
{% for web in site.projects %}
  <!-- <h2><a href="{{ web.url }}">{{ web.title }}</a></h2>
  <small>On {% if web.date %}{{ web.date | date_to_string }}{% endif %}{% if web.read_time %}<br>
  <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}{% endif %}</small>
  <p>{{ web.excerpt }}</p> -->
{% endfor %}

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
