---
title: "Archive of Randomness"
layout: splash
permalink: /random/
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/wiiu-1.jpg
  cta_label: "Go To Randomic Archive"
  cta_url: "/random/#rand_archive"
  caption: "Photo credit: [**Me**](/)"
excerpt: "Welcome to the **Archive of Randomness**, the only **_crazy_** archive of this site."
feature_row:
 - title: "Placeholder Image Left Aligned"
   excerpt: 'This is some sample content that goes here with **Markdown** formatting.'
   url: "#test-link"
   btn_label: "Read More"
   btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/wiiu-1.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/wiiu-1.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/wiiu-1.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
ft_row:
 - url: "/random/#rand_archive"
   btn_label: "To Top <!-- TODO: Nothing -->"
   btn_class: "btn--success"
---

{% capture warn %}Are you really sure you want to continue? The content below is not suitable for babies under `9999` years of age.{% endcapture %}
{% capture dang %}Do <kbd>Alt</kbd>+<kbd>F4</kbd>, Quick!{% endcapture %}
<div class="notice--warning">{{ warn | markdownify }}</div>
<div class="notice--danger">{{ dang | markdownify }}</div>

<h2 id="rand_archive">Randomic Archive <small>(or Archive of Randomness)</small></h2>

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}

<h3 class="archive__subtitle">Random Posts</h3>
{% for post in site.random %}
  {% include archive-single.html %}
{% endfor %}

{% include feature_row id="ft_row" %}
<input type="text" name="date" id="date">
<script>
$( "#date" ).datepicker();
// Set the date we're counting down to
var countDownDate = $( "#date" ).datepicker("getDate");

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
