<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links links-menu hidden"></ul>
        <ul class="hidden-links lang-menu hidden">
          {% assign split_url = page.url | split: "/" %}
          {% if split_url.size == 3 %}
            {% assign langless_url = split_url[2] %}
          {% else %}
            {% assign langless_url = split_url[1] %}
          {% endif %}
          {% if langless_url == "index.html" %}
            {% assign langless_url = "" %}
          {% endif %}
          <li class="masthead__menu-item"><a href="{{ site.url }}/{{ langless_url }}">English</a></li>
          <li class="masthead__menu-item"><a href="{{ site.url }}/it_IT/{{ langless_url }}">Italiano</a></li>
        </ul>
        <button class="lang-selector"><div class="langicon"><i class="fa fa-language fa-lg" aria-hidden="true"></i></div></button>
        <button class="langsel"><div class="langicon"><i class="fa fa-language fa-lg" aria-hidden="true"></i></div></button>

        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>